displaytext {
    opacity: 0;
    transition: all 1.0s ease-out;
    font-family: Arial;
    font-size: 64px;
    color: white;
    align-content: center;
    justify-content: center;
    height: 25px;
    width: 100%;
    background-color: white;

    &.active {
        transition: all 1.0s ease-out;
        opacity: 1;
    }
}
